Q.1. Write a code to create a string with your name and print it.

In [ ]:
string_input = input(("Enter your name: "))
print(string_input)

Enter your name: Nikunj
Nikunj

In [ ]:
string_input = "Nikunj"
print(string_input)

Nikunj

Q.2. Write a code to find the length of the string "Hello World".

In [ ]:
string_input = "Hello World"
print(len(string_input))

11

Q.3. Write a code to slice the first 3 characters from the string "Python Programming".

In [ ]:
string_input = "Python Programming"
print(string_input [0:3])

Pyt

Q.4. Write a code to convert the string "hello" to upparcase.

In [ ]:
string_input = "hello"
print(string_input.upper())

HELLO

Q.5. Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [ ]:
string_input = "I like apple"
print(string_input.replace("apple","orange"))

I like orange

Q.6. Write a code to create a list with numbers 1 to 5 and print it.

In [ ]:
lis = [1, 2, 3, 4, 5]
for item in lis:
  print(item, end = " ")

1 2 3 4 5

Q.7. Write a code to append the number 10 to the list [1, 2, 3, 4].

In [ ]:
lis = [1, 2, 3, 4]
lis.append(10)
print(lis)

[1, 2, 3, 4, 10]

Q.8. Write a code to remove the number 3 from the list [1, 2, 3, 4].

In [ ]:
my_list = [1, 2, 3, 4]
my_list.remove(3)
print(my_list)

[1, 2, 4]

Q.9. Write a code to access the second element in the list 'a', 'b', 'c', 'd'.

In [ ]:
my_list = ['a', 'b', 'c', 'd']
print(my_list[1])

b

Q.10. Write a code to reverse the list [10, 20, 30, 40, 50].

In [1]:
my_list = [10, 20, 30, 40, 50]
reversed_list = my_list[::-1]
print("Reversed List:", reversed_list)

Reversed List: [50, 40, 30, 20, 10]

Q.11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [ ]:
my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

Q.12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [ ]:
my_tuple = ('red', 'green', 'blue', 'yellow')
print(my_tuple[-2])

blue

Q.13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [3]:
numbers = (10, 20, 5, 15)
min_number = min(numbers)
print("Minimum number:", min_number)

Minimum number: 5

Q. 14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [4]:
animals = ('dog', 'cat', 'rabbit')
index_of_cat = animals.index('cat')
print("Index of 'cat':", index_of_cat)

Index of 'cat': 1

Q.15. Write a code to create a tuple containing three different fruits and check if "kiwi: is in it.

In [5]:
fruits = ('apple', 'banana', 'orange')
if 'kiwi' in fruits:
    print("Yes, 'kiwi' is in the tuple.")
else:
    print("No, 'kiwi' is not in the tuple.")

No, 'kiwi' is not in the tuple.

Q.16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [6]:
my_set = {'a', 'b', 'c'}
print("Set:", my_set)

Set: {'b', 'c', 'a'}

Q.17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [7]:
my_set = {1, 2, 3, 4, 5}
my_set.clear()
print("Cleared set:", my_set)

Cleared set: set()

Q.18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [8]:
my_set = {1, 2, 3, 4}
my_set.remove(4)
print("Updated set:", my_set)

Updated set: {1, 2, 3}

Q.19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [9]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print("Union of sets:", union_set)

Union of sets: {1, 2, 3, 4, 5}

Q.20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [10]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection_set = set1.intersection(set2)
print("Intersection of sets:", intersection_set)

Intersection of sets: {2, 3}

Q.21. Write a code to create a dictionary with the keys "name", "age", and "city" and print it.

In [ ]:
my_dict = {'name' : 'Nikunj', 'age' : 35, 'city' : 'Bhavnagar'}
print(my_dict)

{'name': 'Nikunj', 'age': 35, 'city': 'Bhavnagar'}

Q.22. Write a code to add a new key-value pair "country" : "USA" to the dictionary {'name' : 'John', 'age' : 25}.

In [ ]:
my_dict = {'name' : 'John', 'age' : 25}
my_dict['country'] = 'USA'
print (my_dict)

{'name': 'John', 'age': 25, 'country': 'USA'}

Q.23. Write a code to access the value associated with the key "name" in the dictionary {'name' : 'Alice', 'age' : 30}.

In [ ]:
my_dict = {'name' : 'Alice', 'age' : 30}
print(my_dict['name'])

Alice

Q.24. Write a code to remove the key "age" from the dictionary {'name' : 'Bob', 'age' : 22, 'city' : 'New York'}.

In [17]:
my_dict = {'name': 'Bob', 'age': 22, 'city': 'New York'}
my_dict.pop('age', None)
print("Updated dictionary:", my_dict)

Updated dictionary: {'name': 'Bob', 'city': 'New York'}

Q.25. Write a code to check if the key "city" exists in the dictionary {'name' : 'Alice', 'city' : 'Paris'}.

In [16]:
my_dict = {'name': 'Alice', 'city': 'Paris'}
if 'city' in my_dict:
    print("The key 'city' exists in the dictionary.")
else:
    print("The key 'city' does not exist in the dictionary.")

The key 'city' exists in the dictionary.

Q.26. Write a code to create a list, a tuple, and a dictionary and print them all.

In [15]:
my_list = [1, 2, 3, 4, 5]
my_tuple = (10, 20, 30, 40, 50)
my_dict = {'a': 1, 'b': 2, 'c': 3}
print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3, 4, 5]
Tuple: (10, 20, 30, 40, 50)
Dictionary: {'a': 1, 'b': 2, 'c': 3}

Q.27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result. (replaced)

In [14]:
import random
random_numbers = [random.randint(1, 100) for _ in range(5)]
random_numbers.sort()
print("Sorted list of random numbers:", random_numbers)

Sorted list of random numbers: [17, 35, 42, 91, 93]

Q.28. Write a code to create a list with strings and print the element at the third index.

In [12]:
my_list = ["apple", "banana", "cherry", "date", "elderberry"]
print("Element at index 3:", my_list[3])

Element at index 3: date

Q.29. Write a code to combine two dictionaries into one and print the result.

In [11]:
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}
combined_dict = {**dict1, **dict2}
print("Combined Dictionary:", combined_dict)

Combined Dictionary: {'a': 1, 'b': 2, 'c': 3, 'd': 4}

Q.30. Write a code to convert a list of strings into a set.

In [2]:
string_list = ["apple", "banana", "cherry", "apple", "banana"]
string_set = set(string_list)
print("Set:", string_set)

Set: {'cherry', 'banana', 'apple'}

**Data Types and Structures Questions**

Q.1. What are data structures, and why are they important?

-> Data structures are specialized formats for organizing, processing, and storing data in a way that enables efficient access and modification. They are essential components in computer science and software engineering, providing a means to store and manage data for various applications.

Q.2. Explain the difference between mutable and immutable data types with examples.

->In Python, mutable and immutable data types differ in how they handle changes after they are created. Understanding these concepts is crucial for writing efficient and bug-free code.

-> Mutable Data Type Example: Dictionary
my_dict = {"name": "Alice", "age": 25}

my_dict["age"] = 26
print(my_dict)  # Output: {'name': 'Alice', 'age': 26}

my_dict["city"] = "Paris"
print(my_dict)  # Output: {'name': 'Alice', 'age': 26, 'city': 'Paris'}

Here, the dictionary my_dict is modified directly by updating the value associated with the key "age" and adding a new key-value pair "city".

->
Immutable Data Type Example: String
my_str = "hello"

new_str = "H" + my_str[1:]
print(new_str)  # Output: "Hello"

In this case, strings in Python are immutable. To change the string, you must create a new one (as shown by concatenating the modified part).

Q.3. What are the main differences between lists and tuples in Python?

-> The main differences between lists and tuples in Python revolve around their mutability, performance, and usage.

Q. 4. Describes how dictionaries store data.

-> Dictionaries in Python are built on the concept of hashing, which allows them to store and retrieve data efficiently. Let’s break down how this works:

A dictionary in Python is a key-value pair structure. Each item in the dictionary consists of:

Key: A unique identifier used to retrieve the associated value.
Value: The data associated with the key.

Q.5. Why might you use a set instead of a list in Python?

-> In Python, both sets and lists are collections of elements, but they have distinct characteristics that make them more suitable for different use cases.

Q.6. What is a string in Python, and how is it different from a list?

-> n Python, a string is a sequence of characters enclosed in either single quotes (') or double quotes ("). It is an immutable data type, meaning once a string is created, its contents cannot be changed. Strings are widely used for representing text-based data.

Q.7. How do tuples ensure data integrity in Python?

-> n Python, tuples are designed as an immutable data structure, which plays a key role in ensuring data integrity. Here's how tuples help in maintaining data integrity:

1. Immutability (Unchangeable After Creation)
2. Hashable (Can Be Used as Dictionary Keys)
3. Safe for Multi-Threaded Environments
4. Reduces Risk of Errors from Accidental Modification
5. Integrity of Compound Data Structures

Q.8. What is a hash table, and how does it relate to disctionaries in Python?

-> A hash table is a data structure that stores key-value pairs and uses a hash function to compute an index where the value associated with a key is stored. It allows for efficient O(1) average time complexity for lookups, insertions, and deletions.

In Python, dictionaries are implemented using hash tables. When you add a key-value pair to a dictionary, Python uses a hash function to determine where to store the value. Similarly, when you access a value using a key, Python uses the hash function to quickly locate the value in memory.

### Key Points:
- Hash Table: Stores data with a key-value mapping, using a hash function for indexing.
- Python Dictionaries: High-level implementation of a hash table for storing key-value pairs efficiently.

Q.9. Can lists contain different data types in Python?

-> Yes, lists in Python can contain different data types. A single list can hold integers, strings, floats, or even other lists or objects.

Q.10. Explain why strings are immutable in Python.

-> Strings are immutable in Python because once a string is created, its value cannot be changed. This ensures that strings are efficient, hashable and safe for use as dictionary keys. Immutability also helps prevent accidental modifications, making strings predictable and consistent throughout the program.

Q.11. What advantages do dictionaries offer over lists for certain tasks?

-> Dictionaries offer several advantages over lists for tasks that involve key-value pair storage and fast lookups:

1. Faster lookups: Accessing values by key is typically O(1), while list lookups are O(n).
2. Key-based indexing: Dictionaries allow direct access to data using a key, making them ideal for mapping relationships.
3. No duplicates: Keys in dictionaries are unique, preventing accidental duplication.

Dictionaries are preferable when you need fast, efficient retrieval based on unique identifiers (keys).

Q.12. Describe a scenario where using a tuple would be preferable over a list.

-> A tuple would be preferable over a list when you need to store constant data that should not be modified, such as the coordinates of a location or a set of fixed configurations. Since tuples are immutable, they provide data integrity and are safer for use in situations where accidental changes could lead to errors.

Q.13. How do sets handle duplicate values in Python?

-> Sets in Python automatically remove duplicate values. When you try to add a duplicate element to a set, it will not be added, ensuring that each element in a set is unique.

Q.14. How does the "in" keyword work diffrently for lists and dictionaries?

-> The "in" keyword works differently for lists and dictionaries in Python:

- For lists: It checks if an element exists in the list by comparing each item. It returns `True` if the element is found.
  
  Example:
  ```python
  my_list = [1, 2, 3, 4]
  print(3 in my_list)  # Output: True
  ```

- For dictionaries**: It checks if a key exists in the dictionary. It doesn't check the values, only the keys.

  Example:
  ```python
  my_dict = {'a': 1, 'b': 2}
  print('a' in my_dict)  # Output: True
  print(1 in my_dict)    # Output: False (checks for keys, not values)
  ```

### Key Difference:
- In lists, "in" checks for the presence of an element (value).
- In dictionaries, "in" checks for the **presence of a key.

Q.15. Can you modify the elements of a tuple? Explain why or why not.

-> No, you cannot modify the elements of a tuple after it is created. This is because tuples are immutable in Python, meaning their content cannot be changed once they are initialized.

-> Tuples Are Immutable due to:

Memory Efficiency:
Tuples are designed to be more memory-efficient than lists. Because they are immutable, Python can optimize the memory allocation for tuples, making them faster for certain operations (like iterating).

Data Integrity:
Immutability ensures that once data is stored in a tuple, it cannot be altered, which guarantees that the data remains consistent and prevents accidental changes.

Hashable:
Since tuples cannot be modified, they can be used as keys in dictionaries, while lists cannot (because lists are mutable, and mutable objects can't be hashed).

Performance:
Since tuples are immutable, Python can optimize their internal implementation for faster access and operations like slicing or iteration.

Q.16. What is a nested dictionary, and give an example of its use case?

-> A nested dictionary in Python is a dictionary that contains another dictionary as one or more of its values. Essentially, it's a dictionary within a dictionary, allowing you to store more complex data structures.

-> Imagine you are building a system for managing student records, where each student has multiple attributes like their personal information, enrolled courses, and grades. A nested dictionary could be used to organize this data.

-> Common Use Cases for Nested Dictionaries:

Storing Information About People: Like employee details, student records, or customer information.
Organizing Data by Categories: E.g., a list of products, where each product has attributes like name, price, category, etc.
JSON-like Data: Nested dictionaries are often used to represent data that comes from external sources such as JSON files, APIs, or databases.

Q.17. Describe the time complexity of accessing elements in a dictionary.

-> The time complexity of accessing elements in a dictionary in Python is generally O(1) (constant time) on average. This means that regardless of the size of the dictionary, the time taken to access a value associated with a key is approximately the same.

Q.18. In what situations are lists preferrred over dictionaries?

-> Here are some situations where lists are preferred over dictionaries:

-> You need an ordered collection where the sequence matters.

-> You need to access elements by their index.

-> You need to store duplicate items.

-> You want to apply operations across all elements or modify the collection using built-in methods.

-> You don't need key-value pairs or a fast lookup by a key.

Q.19. Why are dictionaries considered unordered, and how does that affect data retrieval?

-> Dictionaries in Python are considered unordered because they do not guarantee any specific order for their key-value pairs.

Q.20. Explain the difference between a list and a dictionary in terms of data retieval.

-> A list is an ordered collection of elements, where each element is indexed by a position (integer index) starting from 0.

-> We retrieve data from a list by its index.

-> A dictionary is an unordered collection of key-value pairs. Each value is associated with a unique key, not an index.

-> We retrieve data from a dictionary using its key.